doctype html 
html(lang="en")
head 
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title express-tailwind
    link(href="/css/index.css", rel="stylesheet")
body
    h1 express tailwing template 
    p view on #[a(href="https://github.com") github]. 